* {
    font: "JetBrainsMono NF Bold 9";
    background: #0d0f18;
    bg-alt: #151720;
    background-alt: #0d0f18ED;
    foreground: #a5b6cf;
    selected: #c296eb;
    active: #90ceaa;
    urgent: #dd6777;

    img-background: url("~/.config/bspwm/rices/z0mbi3/rofi.webp", width);
}
