[Desktop Entry]
Type=Application
Name=Fetch..
Icon=zombie
Terminal=false
Exec=bash -c 'export PATH="$HOME/.config/bspwm/bin:$PATH" && OpenApps --fetch'
#Exec=termite --hold -e zfetch
